:root {
    --main_bc: #0A0A0A;
    --sec_bc: #151616;
    --main-text-color: #DFEAFF;
    --placeholder-text-color: #6b798c;
    --desc-text-color: #8996a7;
}


.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotate-scale-up {
    -webkit-animation: rotate-scale-up 0.65s linear both;
    animation: rotate-scale-up 0.65s linear both;
}


@-webkit-keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(1.25) rotateZ(180deg);
        transform: scale(1.25) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(1.25) rotateZ(180deg);
        transform: scale(1.25) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}




h1 {
    color: red;
    font-size: 10em;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100vw;
    height: 100vh;
    background: var(--main_bc);
}

.main_window {
    /* Main chat window */
    display: flex;
    flex-direction: row;
    width: calc(100vw - 150px);
    height: calc(100vh);

    background: #202329;
    border-radius: 25px 0px 0px 25px;

}

.navbar {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100%;
}

.scrollbar_window {
    height: 100%;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;


    /* outline: red solid; */
}

.searchbar_box {
    width: 80%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;


    margin-top: 63px;
    border-radius: 20px;

}

.searchbar_input {
    align-self: center;
    width: 100%;
    max-width: 570px;
    height: 3.25em;

    padding: 0;

    background-color: #202329;
    border-radius: 1em;
    color: var(--main-text-color);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;


    outline: none;
    border: 2px solid transparent;
    transition: .3s ease;

    text-indent: 60px;
    background-color: #536076;
}

.searchbar_input::placeholder {
    color: var(--placeholder-text-color);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
}

.searchbar_input:focus {
    border: 2px solid #536076;
    background-color: transparent;
}

.searchbar_input:hover {
    border: 2px solid #536076;
    background-color: transparent;
}


.searchbar_icon {
    margin-left: -390px;
}



.box_for_btn button:not(.button_for_avatar), .button_for_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;

    transition: transform 0.35s;

    /* outline: 2px red dotted; */

}
.box_for_btn button:hover:not(#settings_btn, .button_for_avatar), .button_for_avatar:hover {
    transform: scale(1.25);
    transition: transform 0.5s;
    background-color: #767d9a;
    /* Увеличиваем время анимации при уходе курсора */
}

.button_for_avatar {
    align-self: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding: 0;
}


#settings_btn:hover {

    animation: rotate-scale-up 1s ease-in-out both;
}

.box_for_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* outline: 2px blue dotted; */

}





.text_for_btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    margin: 0;

    color: #FFFFFF;
}

#username {
    margin-top: 10px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    width: 100%;

    height: 100vh;

    
}

.main_nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    

    width: 100%;

    height: 100vh;

    row-gap: 50px;
}




#avatar_box {
    margin-top: 50px;
}

#Log_out_box {
    margin-bottom: 50px;
}

.avatar {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding: 0;

    outline: 2px solid #B1B9C8;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}




@media (max-height: 893px) {
   
    .main_nav_wrapper {
       row-gap: 25px;
    }
}
