:root {
    --main_bc: #000;
    --sec_bc: #151616;
    --main-text-color: #DFEAFF;
    --placeholder-text-color: #6b798c;
    --desc-text-color: #8996a7;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    width: 100vw;
    height: 100vh;
    color: white;

    background-color: var(--main_bc);
}

#secondary_background {
    display: flex;
    padding: 0;
    border: 0;
    outline: 0;
    position: relative;
    margin: 100;
    width: calc(100vw - 200px);
    height: calc(100vh - 200px);
    /* height: calc(100% - 200px); */
    border-radius: 120px;
    background-color: var(--sec_bc);
}

#image_box {
    width: 50%;
    height: 100%;
    border-radius: 120px 0px 0px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* outline: 2px red dotted; */
}

#registration_image {
    width: 100%;
    height: 100%;
    border-radius: 120px 0px 0px 120px;
}


#registration_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    width: 50%;
    height: 100%;
    border-radius: 0px 120px 120px 0px;
}

#banner {
    /* Create an account font-family 'Poppins'; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    line-height: 96px;
    /* identical to box height text-align center; */

    color: var(--main-text-color);

    margin: 0;
    margin-top: 70px;
    /* outline: 2px red dotted; */
}

#desc {
    /* Sign up and start chatting ! font-family 'Poppins'; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 48px;

    /* identical to box height text-align center; */

    color: var(--desc-text-color);


}

#log_in_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
    width: 574px;
    height: 395px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    width: 574px;
    height: 395px;
}

label {
    margin-bottom: -10px;
    padding: 0;
    /* Username  */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 48px;
    /* identical to box height text-align center; */

    color: var(--main-text-color);


}

#log_in_form input, #form input{
    align-self: center;
    width: 100%;
    max-width: 570px;
    height: 3.25em;

    padding: 0;

    background-color: #202329;
    border-radius: 1em;
    color: var(--main-text-color);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;


    outline: none;
    border: 2px solid transparent;
    transition: .3s ease;

    text-indent: 20px;
}

#log_in_form input::placeholder, #form input::placeholder{
    color: var(--placeholder-text-color);
}

#log_in_form input:focus, #form input:focus, #log_in_form input:hover , #form input:hover{
    outline: none;
    /* border-color: rgba(234, 76, 137, 0.4); */
    border-color: rgba(239, 245, 255, 0.4);
    background-color: #22242a;
    box-shadow: 0 0 0 2.5px rgb(239 245 255 / 10%);
}


.username_error, .password_error, .email_error {
    position: absolute;
    padding: 15px;
    top: 10px;
    background-color: #b00020;
    color: #fff;
    border-radius: 20px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
}

.success_notification {
    position: absolute;
    padding: 15px;
    top: 10px;
    background-color: #368a2f;
    color: #fff;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
}



.password_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.visibility {
    margin-left: -45px;
}

.create_acc_btn {
    padding: 0;

    align-self: center;
    width: 100%;
    height: 3.25em;
    margin-top: 17px;

    text-indent: 0px;

    background-color: var(--main-text-color);
    border-radius: 1em;
    color: #0A0A0A;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;


    outline: none;
    border: 2px solid transparent;
    cursor: pointer;

    transition: transform 0.35s;
}

.create_acc_btn:focus, .create_acc_btn:hover {
    outline: none;
    /* border-color: rgba(234, 76, 137, 0.4); */
    border-color: transparent;
    background-color: var(--main-text-color);
    box-shadow: none;
}

.sign_in_btn {
    padding: 0;

    align-self: center;
    width: 100%;
    height: 3.25em;
    margin-top: 17px;

    background-color: #0A0A0A;
    /* rgba(32, 35, 41, 0.5); */
    border-radius: 1em;
    color: var(--main-text-color);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;


    outline: none;
    border: 2px solid transparent;
    cursor: pointer;

    transition: transform 0.35s;

}

.Log_in_btn_in_log_in_page {
    padding: 0;

    align-self: center;
    width: 100%;
    height: 3.25em;
    margin-top: 17px;

    text-indent: 0px;

    background-color: var(--main-text-color);
    border-radius: 1em;
    color: #0A0A0A;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;

    cursor: pointer;
    text-align: center;


    outline: none;
    border: 2px solid transparent;
    cursor: pointer;

    transition: transform 0.35s;
}

.create_acc_btn:hover:active, .sign_in_btn:hover:active, .Log_in_btn_in_log_in_page:hover:active {
    transition: 0.5s;
    transform: scale(0.93);

}

.create_acc_btn:hover, .sign_in_btn:hover, .Log_in_btn_in_log_in_page:hover {

    transition: 0.5s;
    transform: translateY(-4px);

}



.dont_have_acc_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

p {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
}


.log_in_link {
    margin-top: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;

    transition: .3s ease;

    /* text-align: center;
    align-self: center; */

    text-decoration: none;

    color: #3239D0;
}

.log_in_link:hover {
    transition: 0.35s;
    transform: translateY(-4px);
}



.log_in_back #desc {
    margin-top: 0px;
}

.log_in_back #form {
    margin-top: 35px;
}

.Link {
    color: var(--main-text-color);
    text-decoration: none;
    width: 100%;
}

@media (max-width: 1474px) {
    #banner {
        font-size: 1.5em
    }

    #desc {
        font-size: 1em
    }

    #form, #log_in_form {
        width: 274px
    }
}

@media (max-width: 1314px) {
    #banner {
        font-size: 2.5em
    }

    #desc {
        font-size: 2em
    }

    #form, #log_in_form {
        width: 574px
    }

    #image_box {
        height: 0;
        width: 0
    }

    #secondary_background {
        align-items: center;
        justify-content: center
    }

    #registration_container {
        align-self: center
    }
}

@media (max-width: 1074px) {
    #banner {
        font-size: 2em
    }

    #desc {
        font-size: 1.5em
    }
}

@media (max-width: 929px) {
    #banner {
        font-size: 1.5em
    }

    #desc {
        font-size: 1em
    }

    #form, #log_in_form {
        width: 274px
    }
}

@media (max-width: 669px) {
    #banner {
        font-size: 1em
    }

    #desc {
        font-size: .7em
    }

    label {
        font-size: 1em
    }
}

@media (max-height: 1004px) {
    .username_error, .password_error, .email_error {
        font-size: 0.7em;
    }

    #registration_container {
        width: 100%;
    }

    #desc {
        align-self: center;
        text-align: center;
    }

    #image_box {
        height: 0;
        width: 0
    }

    #secondary_background {
        align-items: center;
        justify-content: center
    }

    #registration_container {
        align-self: center
    }
}

@media (max-height: 949px) {
    #banner {
        font-size: 2.5em;
        margin-top: 25px
    }

    #desc {
        font-size: 2em;
        margin-top: 5px
    }
}

@media (max-height: 879px) {
    #banner {
        font-size: 2em
    }

    #desc {
        font-size: 1.5em
    }

    #form, #log_in_form {
        margin-top: 25px
    }
}

@media (max-width: 390px) and (max-height:844px) { /*13 pro*/
    
    .username_error, .password_error, .email_error {
        font-size: 0.7em;
    }
    #banner {
        font-size: 1.2em;
        margin-top: 100px
    }

    #desc {
        font-size: .8em;
        margin-top: -25px
    }

    #form, #log_in_form {
        margin-top: 100px
    }

    #secondary_background {
        border-radius: 10px;
        height: calc(100vh - 20px);
        width: calc(100vw - 20px)
    }
}

@media (max-width: 412px) and (max-height:915px) {
    /*s20 ultra*/

    #banner {
        font-size: 1.2em;
        margin-top: 100px
    }

    #desc {
        font-size: .9em;
        margin-top: -25px
    }

    #form, #log_in_form {
        margin-top: 100px
    }

    #secondary_background {
        border-radius: 10px;
        height: calc(100vh - 20px);
        width: calc(100vw - 20px)
    }
}

@media (max-width: 429px) and (max-height:927px) {

    .username_error, .password_error, .email_error {
        margin-top: 15px
    }

    #banner {
        font-size: 2em;
        margin-top: 100px
    }

    #desc {
        font-size: 1em;
        margin-top: -25px
    }

    #form, #log_in_form {
        margin-top: 100px
    }

    #secondary_background {
        border-radius: 10px;
        height: calc(100vh - 20px);
        width: calc(100vw - 20px)
    }
}

@media (max-width: 390px) and (max-height:844px) {
    #banner {
        font-size: 1.1em;
        margin-top: 100px
    }

    #desc {
        font-size: .8em;
        margin-top: -25px
    }

    #form, #log_in_form {
        margin-top: 100px
    }

    #secondary_background {
        border-radius: 10px;
        height: calc(100vh - 20px);
        width: calc(100vw - 20px)
    }
}